.list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 196px;
}

.listItem {
    padding: 16px;
    font-size: 12px;
    color: #474d66;
    border-bottom: 1px solid #edeff5;
}

.listItem:hover {
    background-color: #FAFBFF;
    cursor: pointer;
}
