.table {
    margin: 64px 0 0 0;
}

.note {
    display: block;
    margin: 32px 0 0 0;
    font-size: 14px;
    color: #696f8c;
}

.searchSelect {
    margin: 16px 0 0 0;
}

.loadingContainer {
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
}
