.container {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    box-sizing: border-box;
}

.connect {
    font-weight: 500 !important;
}

.message {
    margin: 0;
    font-weight: 500;
    font-size: 64px;
}

.landingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 144px 64px;
}

.statement {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.illustrationContainer {
    flex: 5;
}

.illustration {
    width: 100%;
}

.description {
    margin: 0;
}

.howItWorks {
    background-color: #FDE5E3;
    box-sizing: border-box;
}

.howItWorksContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 64px;
}

.sectionTitle {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    margin: 32px 0 0 0;
}

.step {
    margin: 0;
    flex: 1;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stepLabel {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.stepDescription {
    margin: 0;
}

.stepImage {
    height: 128px;
    margin: 0 auto;
}

.highlight {
    color: #e28837;
}
