.page {
    flex: 1;
    padding: 144px 0 72px 0;
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.heading {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.subheading {
    margin: 16px 0 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #696f8c;
}

.contentContainer {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 64px;
    box-sizing: border-box;
}
