.nav {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 8px 64px;
    box-sizing: border-box;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.01), 0 4px 6px -2px rgba(0, 0, 0, 0.01);
}

.logo {
    height: 32px;
    margin: 0 32px 0 0;
}

.logo:hover {
    cursor: pointer;
}

.navItems, .dashboardItems {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.item {
    font-weight: 500;
}

.mainActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    background-color: #F4F5F9;
}
