.page {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.main {
    flex: 1;
    padding: 72px;
    background-color: #fafafa;
}

.title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.settings {
    margin: 64px 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    flex: 1;
}

.promotionOptionsLabel {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.promotionOptionsDescription {
    display: block;
    color: #696f8c;
    font-size: 12px;
    margin: 4px 0 0 0;
}

.promotionOptions {
    display: flex;
    margin: 16px 0 24px 0;
    gap: 32px;
}

.promotionOption {
    margin: 0;
    text-align: center;
    background-color: white;
    border: 2px solid #E6E8F0;
    border-radius: 8px;
    padding: 16px;
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    filter: grayscale(100%);
}

.promotionOption:hover {
    cursor: pointer;
}

.promotionOptionSelected {
    border-color: #E38824;
    filter: initial;
}

.promotionOptionImage {
    width: 75%;
}

.promotionOptionDisabled:hover {
    cursor: not-allowed;
}

.dangerSectionTitle {
    margin: 24px 0 8px 0;
    font-size: 24px;
}

.dangerSection {
    margin: 0;
    list-style: none;
    border: 2px solid #D14343;
    border-radius: 8px;
    padding: 16px;
}
