.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.note {
    display: block;
    color: #696f8c;
    font-size: 12px;
    margin: 4px 0 0 0;
}
