.container {
    display: flex;
    flex-direction: column;
    gap: 128px;
    flex: 1;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    flex: 1;
}

.image {
    display: block;
    width: 512px;
    margin: 0 auto;
}
